h1 {
  font-size: 70px;
  line-height: 1.4;
  font-weight: bold;
  color: #0072ae;
}

h2 {
  font-size: 26px;
  font-style: italic;
  color: #eb2428;
  margin-bottom: 10px;
}

body {
  background-color: #dcdcdc;
}

a {
  text-decoration: none;
}

section p {
  margin-bottom: 10px;
}

.alt-headline {
  font-size: 40px;
}

.secondary-section {
  margin-bottom: 30px;
}

.secondary-section h2 {
  font-style: normal;
  color: #0072ae;
  font-weight: bold;
}

.wrapper {
  margin: 0 auto;
  width: 960px;
}

.column {
  float: left;
  width: 300px;
  margin-left: 30px;
}

.column:first-child {
  margin-left: 0;
}

.content-block .figure {
  margin: 30px;
  float: right;
}

.content-block h1 {
  color: #fff;
}

.wrapper {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.intro-content {
  width: 100%;
  padding-bottom: 80px;
}

.wave-border {
  background-image: url(../images/wave.jpg);
  background-repeat: repeat-x;
}

.content-block {
  padding: 50px 0;
}

.style-1 {
  background-color: #58c9eb;
}

.style-2 {
  background-color: #494949;
  color: #fff;
}

/****************
Buttons
*****************/

.button {
  border: 2px solid #333;
  color: #333;
  padding: 10px 0;
  display: block;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
}
